<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Flag_of_Ecuador.svg/135px-Flag_of_Ecuador.svg.png">
        <title>Ecuador Data</title>
        <style> body{
        background: #232526;
        background: -webkit-linear-gradient(to right, #414345, #232526);
        background: linear-gradient(to right, #414345, #232526);
        }</style>
         <style>header{
                padding:10px;
                background: #222121;
                 width: 100%;
                 text-align: center;
                 position: fixed;
        }</style>
        <style>footer{
                color: #f3f2f0;
                background: #222121;
        }</style>
        <style>h1{
                font-family: 'Courier New', Courier, monospace;
                color: #FF8000 ;

        }</style>
        <style>p{color: #e5f8e3;
                font-family:fantasy}</style>
        <style>.contenido{
                margin:3px;

        }</style>
        <style>.caja{
                display: table-cell;
                padding: 15px;

        }</style>
        <style> h2 {
                font-family:unset;
                color:#98FF98 ;

        }</style>
        <style> h4 {
                color: #ffffff;

        }</style>
        <style>p{
                font-size:large;
                color: #ffffff;
        }</style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
              rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
              crossorigin="anonymous"/>
        </style>
</head>
<body>
        <header>
                <h1><b>4+1 Estadísticas Sorprendentes para que Visites Ecuador</b></h1>
         </header>
        <div class="contenido">
                <div class="caja">
                        <h2 style="text-align: center"><br><br>¿Te gustaría probar los mejores licores del Ecuador?,descubre a que parte ir</h2>
                        <p style="text-align: justify">Una de las actividades mas atractivas cuando visitas un país y eres mayor de edad,es probar la variedad de cocteles, shots y licores  que se consumen, ya que para bien o para mal el acohol es cultura alrededor del mundo.</p>
                </div>
                <div class="caja">
                        <h2 style="text-align: center"><br><br>¿Deseas farrear hasta el amanecer?, estas provincias serán de tu agrado</h2>
                        <p style="text-align: justify">Una de las actividades mas atractivas cuando visitas un país es conocer el ambiente de fiesta que este tiene, y que mejor lugar que ir a un bar por esto aquí presentamos cuales son las mejores provincias en el Ecuador para salir de fiesta, clasificados por su cantidad de bares con la máxima calidad.</p>

                </div>
        </div>

        <div class="contenido">
                <div class="caja">
                        <iframe src="https://8080-jorgaf-zeppelinpaavanza-rrm4qkkpitl.ws-us54.gitpod.io/#/notebook/2H9YMPFJV/paragraph/paragraph_1658680910912_555945265?asIframe" height="300" width="800" ></iframe>
                </div>
                <div class="caja">
                        <iframe src="https://8080-jorgaf-zeppelinpaavanza-rrm4qkkpitl.ws-us54.gitpod.io/#/notebook/2H9YMPFJV/paragraph/paragraph_1658699409283_1447799686?asIframe" height="300" width="800" ></iframe>
                </div>
        </div>
        <div class="contenido">
                <center><h2 style="text-align: center"><br>Luego de un viaje largo en avión ¿estas cansado?</h2></center>
                <center><p style="text-align: center">A continuación presentamos a que hoteles cercanos puedes ir para pegarte un respiro, estos hoteles
                        se encuentran ubicados dentro del mismo cantón.
                </p></center>
        </div>

        <div class="contenido">
                <div class="caja">
                        <iframe src="https://8080-jorgaf-zeppelinpaavanza-rrm4qkkpitl.ws-us54.gitpod.io/#/notebook/2H9YMPFJV/paragraph/paragraph_1658707544419_1908072058?asIframe" height="300" width="800" ></iframe>
                </div>
                <div class="caja">
                        <iframe src="https://8080-jorgaf-zeppelinpaavanza-rrm4qkkpitl.ws-us54.gitpod.io/#/notebook/2H9YMPFJV/paragraph/paragraph_1658760549618_517301839?asIframe" height="300" width="800" ></iframe>
                </div>
        </div>
        <div class="contenido">
                <center><h2 style="text-align: center"><br>Cuando viajas, ¿tienes miedo a enfermarte?</h2></center>
                <center><p style="text-align: center">Cuando viajas solo o con familia una de las principales preoupaciones es la salud,
                para esto te traemos la ubicación geográfica de los hospitales cercanos, añadiendo la cantidad de lo cales cercanos que los mismos
        al rededor poseen.</p></center>
        </div>
        <div class="contenido">
                <div class="caja">
                        <iframe src="https://8080-jorgaf-zeppelinpaavanza-rrm4qkkpitl.ws-us54.gitpod.io/#/notebook/2H9YMPFJV/paragraph/paragraph_1658803639219_1000418621?asIframe" height="300" width="800" ></iframe>
                </div>
                <div class="caja">
                        <iframe src="https://8080-jorgaf-zeppelinpaavanza-rrm4qkkpitl.ws-us54.gitpod.io/#/notebook/2H9YMPFJV/paragraph/paragraph_1658804340482_1946358014?asIframe" height="300" width="800" ></iframe>
                </div>
        </div>
        <h2 align="center"> <br>¿Deseas conocer las principales hoteles de cada provincia junto con su prestigio?</h2>
         <center><p>Sabemos que en el mundo existen clasificaciones para los hoteles, dentro del Ecuador esto no cambia y 
                esto viene altamente influenciado por el precio y prestigio que tienen dichos hoteles debido a esto,
                 presentamos estos datos para que seleccione su mejor destino!, de acuerdo a su presupuesto.</p></center>
                 <div class="contenido">
                        <div class="caja">
                                <iframe src="https://8080-jorgaf-zeppelinpaavanza-rrm4qkkpitl.ws-us54.gitpod.io/#/notebook/2H9YMPFJV/paragraph/paragraph_1658681703345_326299882?asIframe" height="100" width="800" ></iframe>                        
                        </div>
                        <div class="caja">
                                <iframe src="https://8080-jorgaf-zeppelinpaavanza-rrm4qkkpitl.ws-us54.gitpod.io/#/notebook/2H9YMPFJV/paragraph/paragraph_1659039876571_176107096?asIframe" height="100" width="840" ></iframe>
                        </div>
                </div>
                <div class="contenido">
                        <div class="caja">
                                <iframe src="https://8080-jorgaf-zeppelinpaavanza-rrm4qkkpitl.ws-us54.gitpod.io/#/notebook/2H9YMPFJV/paragraph/paragraph_1658703224248_68285999?asIframe" height="300" width="800" ></iframe>
                        </div>
                        <div class="caja">
                                <iframe src="https://8080-jorgaf-zeppelinpaavanza-rrm4qkkpitl.ws-us54.gitpod.io/#/notebook/2H9YMPFJV/paragraph/paragraph_1659039878994_1742391347?asIframe" height="300" width="840" ></iframe>
                        </div>

                </div>
         
         
        <footer>
                <h6>Desarroladores: Isaac Alvarez - Víctor Carrión - Tony Gaona</h6>
                <p>Datos obtenidos de: <a href="https://github.com/IsaacAlvarez12/ProyectoIntegradorG8/tree/main/BaseDeDatos" target="_blank" class="pe-auto" >https://github.com/IsaacAlvarez12/ProyectoIntegradorG8/tree/main/BaseDeDatos</a></p>
        </footer>
</body>
</html>

